#
# ---------------------------------------------------------
# Boss Announcer Module Configuration
# ---------------------------------------------------------
#

#
#    Boss.Announcer.Enable
#        Description: Enable or disable the Boss Announcer module entirely.
#        Default:     1 (enabled)
#

Boss.Announcer.Enable = 1


#
#    Boss.Announcer.Announce
#        Description: Announce to players on login that the server
#                     is running the Boss Announcer module.
#        Default:     1 (enabled)
#

Boss.Announcer.Announce = 1


#
#    Boss.Announcer.RemoveAuraUponKill
#        Description: Remove raid-wide debuffs such as Bloodlust/Heroism
#                     exhaustion when a boss is defeated.
#        Default:     0 (disabled)
#

Boss.Announcer.RemoveAuraUponKill = 0


#
#    Boss.Announcer.AnnounceWipe
#        Description: Enable or disable wipe announcements
#                     in world chat.
#        Default:     1 (enabled)
#

Boss.Announcer.AnnounceWipe = 1
