[worldserver]

########################################
# DynamicLootRates configuration
########################################
#
#    DynamicLootRates.Enable
#        Description: Enables or disables the module
#        Default:     0 - Disabled
#                     1 - Enabled
#

DynamicLootRates.Enable = 1

#    DynamicLootRates.Dungeon.Rate.GroupAmount
#        Description: Multiplier for referenced loot amount inside of dungeons
#        Default:     1
DynamicLootRates.Dungeon.Rate.GroupAmount = 1

#    DynamicLootRates.Dungeon.Rate.GroupAmount
#        Description: Multiplier for grouped items inside of dungeons
#        Default:     1
DynamicLootRates.Dungeon.Rate.ReferencedAmount = 1

#    DynamicLootRates.Dungeon.Rate.GroupAmount
#        Description: Multiplier for referenced loot amount inside of raids
#        Default:     1
DynamicLootRates.Raid.Rate.GroupAmount = 1

#    DynamicLootRates.Dungeon.Rate.GroupAmount
#        Description: Multiplier for grouped items inside of raids
#        Default:     1
DynamicLootRates.Raid.Rate.ReferencedAmount = 1