########################################
# AoeLoot module configuration
########################################
#
#    AOELoot.Enable
#         Description: Enables Module
#         Default:    1 - (Enabled)
#                     0 - (Disabled)
# 


AOELoot.Enable = 1

#
#    AOELoot.Message
#         Description: Enable message on login
#         Default:    1 - (Enabled)
#                     0 - (Disabled)
#

AOELoot.Message = 1

#
#   AOELoot.Range
#       Description: Maximum reach range search loot.
#       Default:    55.0
#

AOELoot.Range = 55.0

#
#   AOELoot.MoneyShareDistanceMultiplier
#       Description: Distance multiplier for money sharing (multiplies AOELoot.Range)
#       Default:    2.0
#

AOELoot.MoneyShareDistanceMultiplier = 2.0

#
#   AOELoot.Group
#       Description: Enables area loot if the player is in a group
#       Default:    1 (Enabled)
#       Possible values:    0 - (Disabled)
#                           1 - (Enabled)
#

AOELoot.Group = 1

#
#   AOELoot.CorpseThreshold
#       Description: The number of corpses that need to be in range for AoE looting to initiate (If the number of corpses is lower than this number in the "AOELoot.Range" AoE looting will not initiate and the default in-game looting logic will run instead).
#       Default:    2 (Default) If the number of corpses in your AOELoot.Range is 1, the default game looting will be used instead of AoE loot.
#

AOELoot.CorpseThreshold = 2


#   AOELoot.Debug
#       Description: Enables debuging mode. This will print out the items Detected values of loot in the chat console. The values in the chat should match the looted values, give or take the main looted creature. 
#       Default:    1 (Enabled)
#       Possible values:    0 - (Disabled)
#                           1 - (Enabled)
#

AOELoot.Debug = 1
