#
# Credits: silviu20092
#

[worldserver]

########################################
# Mythic Plus configuration
########################################
#
#    MythicPlus.Enable
#        Description: Enable or disable the system. This config is not hot-reloadable.
#        Default:     0 - Disabled
#                     1 - Enabled
#

MythicPlus.Enable = 1

#
#    MythicPlus.Penalty.OnDeath
#        Description: Time (in seconds) that applies as penalty whenever a player dies inside M+
#        Values:      0  - no penalty
#                     >0 - value in seconds
#        Default:     15 - subtracts 15 seconds from the timer
#

MythicPlus.Penalty.OnDeath = 15

#
#    MythicPlus.KeystoneBuyTimer
#        Description: Limits the buying of Mythic Keystones from the NPC. This value is in minutes.
#        Values:      0    - no limit, players can buy the keystone whenever they want
#                     60   - players can buy a keystone once every 60 minutes
#        Default:     1440 - can buy the keystone once per day
#

MythicPlus.KeystoneBuyTimer = 1440

#
#    MythicPlus.DropKeystoneOnDungeonComplete
#        Description: Drops a Mythic Keystone for each player when the M+ dungeon was completed (players must beat the timer though)
#        Values: 0 or 1
#        Default: 1 - drop the keystone
#

MythicPlus.DropKeystoneOnDungeonComplete = 1
